.table-sm th, .table-sm td {
    padding: 0.3rem;
    border: 1px solid;
}
.o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(:last-child) {
    border: 1px solid #091124;
}